body {
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

header {

    background-color: bisque;
}

#mainheader {
    text-align: center;

}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
}

p{
    font-style: italic;
    font-family: cursive;
    text-align: justify;
    text-indent: 100px;
    line-height: 1.8p;  
    word-spacing: 3px;

}

