body {
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

header {

    background-color: bisque;
}

#mainheader {
    text-align: center;

}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 100px;
}

p {
    font-style: italic;
    font-family: Verdana, cursive, sans-serif;
    text-align: justify;
    text-indent: 100px;
    line-height: 1.8p;
    word-spacing: 3px;

}

footer {
    background-color: bisque;

}

.contact1 th,.contact1 td {
border: 1px solid;
width: 30%;

}